# Importing the relevant libraries

In [1]:
import pandas as pd
import numpy as np

# Data Preprocessing

### Importing the Database

In [18]:
df = pd.read_csv('ml_datasource.csv')
df.head()

,student_country,days_on_platform,minutes_watched,courses_started,practice_exams_started,practice_exams_passed,minutes_spent_on_exams,purchased
0,US,288,358.1,1,2,2,15.81,0
1,SG,260,1.7,1,1,0,16.00,0
2,TR,260,22.4,1,1,0,0.93,0
3,KE,259,18.8,1,1,1,14.63,0
4,IN,259,118.0,2,2,1,16.48,0

In [3]:
df.columns

Index(['student_country', 'days_on_platform', 'minutes_watched',
       'courses_started', 'practice_exams_started', 'practice_exams_passed',
       'minutes_spent_on_exams', 'purchased'],
      dtype='object')

In [4]:
#let's see how many students from Azerbaijan :)
df[df.student_country == 'AZ'].shape[0]

111

In [5]:
#let's see how many students from Korea :)
df[df.student_country == 'KR'].shape[0]

41

In [19]:
#To avoid accidentally modifying the original data source, copy the raw data in a new variable
data = df.copy()

In [30]:
data.shape

(17761, 2)

### Removing Outliers

### Checking for Multicollinearity

### Dealing with NaN Values

### Splitting the Data

### Encoding the Data

# Creating a Logistic Regression Model

# Creating a K-Nearest Neighbors Model

# Creating a Support Vector Machines Model

# Creating a Decision Trees Model

# Creating a Random Forests Model